*,
html {
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
}

ul li {
  display: inline;
}
ul li a {
  text-decoration: none;
  color: rgb(30, 46, 30);
  display: inline-block;
}

ul li a:hover {
  cursor: pointer;
  color: rgb(226, 13, 226);
}

.menu {
  padding: 40px;
}

#pricing {
  margin-left: 700px;
}

.log-in {
  padding: 20px;
}
#log-in {
  margin-left: 210px;
}
#sign-up {
  background-color: rgb(44, 44, 154);
  color: white;
  padding: 10px;
}

.image-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 113vh;
  display: flex;
  z-index: 1;
  margin-top: 15px;
  margin-right: 90px;
  background-image: url(img/businesswoman.jpg);
  background-size: cover;
  width: 500px;
}

#container {
  margin-left: 150px;
  background-color: rgb(206, 206, 233);
  color: blue;
  padding: 15px;
  border-radius: 5px;
  font-size: 15px;
}

#header {
  font-size: 70px;
  margin-left: 150px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#paragraph {
  margin-left: 150px;
  color: rgb(159, 159, 159);
}

#free-trail {
  margin-left: 150px;
}

.trail {
  background-color: blue;
  color: white;
  padding: 15px 15px;
}

#watch {
  color: rgb(41, 104, 41);
}

.images {
  padding: 50px;
}
.img-responsive {
  position: absolute;
  z-index: 2;
  width: 200px;
  height: 150px;
  left: 1120px;
  top: 200px;
}

.centered-image {
  position: absolute;
  z-index: 2;
  width: 300px;
  height: 200px;
  left: 1000px;
  top: 370px;
}
#ratings {
  margin-top: 200px;
}

#footer {
  margin-left: 150px;
}

#spotify {
  width: 130px;
}

#nike {
  width: 130px;
}

#facebook {
  width: 130px;
}
.blurry-text,
.blurry-image {
  opacity: 0.3;
}
.about-me{
  margin-top: 40px;
  margin-top: 20px;
  font-size: 20px;
  color: green;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 786px){
  .image-container {
    position: absolute;
  left: 300px;
 height: 230vh;
    /*right: 0;
    height: 111vh;
    display: flex;
    /*z-index: 1;
    margin-top: 15px;
    margin-right: 90px;
    background-image: url(img/businesswoman.jpg);
    background-size: cover;
    width: 500px; */
  }

}