html{
    background-color: rgb(104, 104, 129);
}


body{
    background-color: white;
}

  
  

ul li{
    display: inline
 
}
ul li a{

        text-decoration: none; 
       color: rgb(30, 46, 30);
       display: inline-block;
    }

      ul li a:hover{
        cursor: pointer;
        color: rgb(226, 13, 226)
      }

    .menu{
  padding: 40px; 
}

#pricing{
  margin-left: 700px;
}

.log-in{
  padding: 20px; 
  
}
#log-in{
  margin-left: 210px;
}
#sign-up{
background-color: rgb(44, 44, 154);
color: white;
padding: 5px;
}

.image-container{
  position: absolute;
  top: 0;
  right: 0;
  height: 111vh;
  display: flex;
  z-index: 1;
  margin-top: 15px;
  margin-right: 90px;
  background-image: url(img/businesswoman.jpg);
 background-size: cover;
  width: 500px; 
}

#container{
margin-left: 150px;
background-color: rgb(206, 206, 233);
color: blue;

}
 
#header{
  font-size: 70px;
  margin-left: 150px;

}
#paragraph{
  margin-left: 150px;
  color: rgb(159, 159, 159);
}

#free-trail{
  margin-left: 110px;
  
}
.free-trail{
  background-color: blue;
  color: white;
  padding: 5px 10px;
}

.watch{
  color: rgb(41, 104, 41);
}


.images{
    padding: 50px
}
.img-responsive{

  margin-left: 1150px;
  margin-bottom: 12px;
position: relative;
  z-index: 2;
  width: 200px;
  height: 150px;
}

.centered-image{
  margin-left: 1000px;
 position: relative;
  z-index: 2;
  width: 300px;
  height: 200px;
  }
  #ratings{

      margin-top: -96px;
  }
     
 #footer{
margin-left: 150px;
  }
  
  #spotify{
    width: 130px;
  }

#nike{
  width: 130px;
}

  #facebook{
    width: 130px;
  }
  .blurry-text, .blurry-image{
   opacity: 0.3;
  }
